@charset "UTF-8";

html,body,.root{
    height: 100%;
    width: 100%;
}

*{
    font-family: "consolas";
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

.root{
    display: flex;
    @media (max-width : 600px){
        flex-direction: column;
    }
}
.root>*{
    width: 50%;
    width: 100%;
}

.inspector{
    background-color: black;
    padding: 25px;
    @media (max-width : 600px){
        width: auto;
    }
}
.inspector *{
    font-size: 15px;
    font-family: consolas;
}
.orders{
    display: flex;
    flex-direction: column;
    align-items: normal;

    font-size: 10px;
    width: auto;
    height: auto;
    background-color: black;
}
.order{
    display:inline-flex;
    width: auto;
    padding: 15px;
    gap: 5px;
    border-radius:  10px;
    height: fit-content;
    background-color: inherit;
    transition: background-color 0.18s;
    text-align: start;
}
.inputBox{
    height: inherit;
    color: white;
    outline: none;
    border: none;
    appearance: textfield;
}
.inputBox input{
    color: white;
    outline: none;
    border: none;
    appearance: textfield;
    width: 80px;
    height: inherit;
}
.order:hover{
    background-color: #272727;
}


.viewPort{
    padding: 20px 0;
}